<?xml version="1.0"?>
<launch>

  <!-- Diagnostics -->
  <node pkg="pr2_mechanism_diagnostics" type="pr2_mechanism_diagnostics" name="pr2_mechanism_diagnostics" />
  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />
  <!-- joint_state_controller -->
  <rosparam file="$(find talos_gazebo)/controller/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />
  <!-- robot_state_controller -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Static transforms for caster joints -->
  <node pkg="tf" type="static_transform_publisher" name="fr_caster_tf_publisher" args="-0.2175 0.21745 0 0 0 0 1 base_link fr_caster_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="fl_caster_tf_publisher" args="0.2175 0.21745 0 0 0 0 1 base_link fl_caster_link 100" />
    

</launch>

